---
import Lorem from '../components/Lorem.astro'
import SvelteCounter from '../components/SvelteCounter.svelte'
import VueCounter from '../components/VueCounter.vue'
---

<!doctype html>
<html>
  <head>
    <title>Astro</title>
  </head>
  <body>
    <main>
      <header>
        <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
      </header>
      <SvelteCounter />
      <VueCounter />
      <hr />
      <SvelteCounter client:idle />
      <Lorem />
      <Lorem />
      <VueCounter client:visible />
    </main>
  </body>
</html>

<style>
main {
  max-width: 1000px;
  margin: auto;
}
</style>
