---
const { title } = Astro.props
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <header>
      <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
      <nav>
        <a href="/">Home</a>
        <a href="/lorem">Md</a>
        <a href="/pokemon-list">API</a>
      </nav>
    </header>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
    <main>
</html>

<style>
  header {
    display: grid;
    grid-template-columns: 10em auto;
  }
  header nav {
    margin-top: 2em;
  }
  header a {
    text-decoration: none;
    margin: 1em;
  }
  main {
    max-width: 800px;
    margin: auto;
  }
</style>
